.cards { /*keine columns hier verwenden, sieht komisch aus*/
    display: table;
}

.card {
    display: table-cell;
    width: 350px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 8px;
    margin-left: 8px;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.cardheader {
    height: 150px;
}

.cardcontent {
    padding: 10px;
}
