.cards { /*keine columns hier verwenden, sieht komisch aus*/
    display: table;
    border-spacing: 16px;
}

.card {
    display: table-cell;
    width: 350px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0%;
}

.cardRow {
    display: table-row;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.cardheader {
    height: 150px;
    width: 350px;
    overflow: hidden;
    object-fit: cover;
}

.cardheader img {
    height: 100%;
}

.cardcontent {
    padding: 10px;
}
