body {
    padding: 0;
    margin: 0;
}

.centered {
    position: relative;
    display: block;
}

.centeredChild {
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    color: white;
}

.content {
    background-color: white;
    padding: 20px;
    transform: translateY(100vh);
}
